<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="th.co.fingertip.pillsalert"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission  android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <uses-feature android:name="android.hardware.camera"/>

    <application android:icon="@drawable/pillsalert" android:label="@string/app_name">
      
      <activity android:name="th.co.fingertip.pillsalert.GalleryActivity" ></activity>
      <activity android:name="th.co.fingertip.pillsalert.ui.MainActivity" >
        
      </activity>
       
      <activity android:name="th.co.fingertip.pillsalert.ui.PeriodSettingActivity">
      </activity>
      <activity android:name="th.co.fingertip.pillsalert.ui.PeriodEditorActivity">
      </activity> 
      <activity android:name="th.co.fingertip.pillsalert.ui.PillEditorActivity"></activity>
      <activity android:name="th.co.fingertip.pillsalert.ui.PillPeriodActivity">
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <service android:name=".TimeService"/>
    </application>
</manifest>